
<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :movie, style: "display: block" %>
    <%= form.collection_select :movie_id, @movies, :id, :title, prompt: "Select a movie", class: "form-select" %>
  </div>

  <div>
    <%= form.label :theater, style: "display: block" %>
    <%= form.collection_select :theater_id, @theaters, :id, :name, prompt: "Select a theater", class: "form-select" %>
  </div>

  <div>
    <%= form.label :show_date, style: "display: block" %>
    <%= form.date_field :show_date, class: "form-control" %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time, class: "form-control" %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_field :end_time, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success my-3" %>
  </div>
<% end %>
