<p style="color: green"><%= notice %></p>

<%= render @show %>

<div>
  <%= link_to "Edit this show", edit_show_path(@show), class: "btn btn-warning" %> |
  <%= link_to "Back to shows", shows_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this show", @show, method: :delete, class: "btn btn-danger my-4" %>
</div>
