<!DOCTYPE html>
<html>
  <head>
    <title>MovieBookingSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand", href="/">ğ‘€ğ‘œğ“‹ğ’¾ğ‘’ğµğ‘œğ‘œğ“€ğ’¾ğ“ƒğ‘”</a>
        <p class="navbar-text float-right">
          <%= link_to "Movies", movies_path, class: "btn btn-success text-white" %>
          <% if can? :manage, Theater %>
            <%= link_to "Add Theaters", theaters_path, class: "btn btn-secondary text-white" %>
          <% end %>
          <% if can? :manage, Show %>
            <%= link_to "Shows", shows_path, class: "btn btn-info text-white" %>
          <% end %>
          <%= link_to "My Bookings", my_bookings_bookings_path, class: "btn btn-warning text-white" %>

          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link"  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |
            <%= link_to "Login", new_user_session_path, class: "navbar-link"  %>
          <% end %>
        </p>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container my-3">
      <%= yield %>
    </div>
  </body>
</html>
